* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: white;
  margin-top: 20px;
}

.App {
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;

  .countainer {
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 100px;
    border-radius: 4px;
    background: linear-gradient(aqua, #D6F4FA, #72C9CB);
    text-align: center;


    .main {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .top_main {
        margin-top: 80px;
        display: flex;
        align-items: center;
        margin-bottom: 80px;

        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin: 0px auto;
          width: 100%;

          .inp {
            width: 350px;
            height: 45px;
            border-radius: 6px;
            border: none;
            outline: none;
            border: 1px solid gray;
            padding: 10px;
          }

          .btn {
            width: 80px;
            height: 45px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            background-color: rgb(36, 184, 36);
            color: white;
          }
        }
      }

      .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: 100%;
        padding: 20px;

        .block {
          width: 90%;
          height: 50px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: linear-gradient(black, gray, rgb(61, 57, 57));

          .user {
            display: flex;
            align-items: center;
            gap: 50px;
            padding-left: 40px;

            .name {
              color: white;
              font-size: 26px;
              font-weight: 600;
            }
          }

          .actions {
            width: 100px;
            height: 100%;
            display: flex;
            color: white;
            align-items: flex-end;
            justify-content: flex-end;


            .del {
              width: 50px;
              height: 100%;
              background-color: red;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }

            .change {
              width: 50px;
              height: 100%;
              background-color: blue;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
        }

        .modalokno {
          width: 100%;
          height: 30px;
          display: flex;
          padding-left: 45px;

        }
      }
    }
  }
}

.formUpdated {
  display: flex;
  gap: 20px;
}